.add-employee-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    min-height: calc(100vh - 100px);
    .form {
        height: 270px;
        width: 470px;
        padding: 23px;
        border-radius: 10px;
        box-shadow: rgb(114 114 114 / 20%) 0px 7px 29px 0px;
    }
}
