.home-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .header-text {
        font-weight: 500;
        font-size: 20px;
        width: 90%;
        display: flex;
        height: 0px;
        line-height: 28px;
        margin-top: 60px;
        margin-bottom: 100px;
        color: #040b58;
    }

    .home-action {
        width: 90%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        .home-button {
            background-color: #00c569;

            padding: 11px 12px;
            background-color: rgb(255, 255, 255);
            font-weight: bold;
            color: #00c569;
            border: 2px solid #00c569;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                padding: 13px 13px;
                background-color: #00c569;
                font-weight: bold;
                color: #ffffff;
                border: 2px solid #00c569;
            }
        }
    }

    .employeelist-table-wrapper {
        width: 90%;
        .employeelist-table {
            width: 100%;
        }
    }
}
