.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fd-column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-space-around {
    justify-content: space-around;
}

.jc-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-60 {
    gap: 60px;
}

.text-alg-right {
    text-align: right;
}

.text-alg-left {
    text-align: left;
}

.text-alg-center {
    text-align: center;
}

.block {
    display: block;
}

.bold {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 4px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-140 {
    margin-left: 140px;
}

.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.bottom-112 {
    bottom: -112px;
}

.bottom-80 {
    bottom: -80px;
}

.font-22 {
    font-size: 22px;
}

.gray {
    color: gray;
}

.text-red {
    color: red;
}

.small-font {
    font-size: 14px;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.wd-20 {
    width: 20%;
}

.width-100 {
    width: 100px;
}

.width-150 {
    width: 150px;
}

.width-250 {
    width: 250px;
}

.wd-200 {
    width: 200px;
}

.wd-95 {
    width: 95%;
}

.wd-90 {
    width: 90%;
}

.wd-100 {
    width: 100%;
}

.sweet-red {
    color: rgba(252, 87, 59, 1);
}

.dark-green {
    color: rgba(90, 194, 41, 1);
}

.light-blue {
    color: rgba(51, 171, 229, 1);
}

.blue {
    background-color: #33abe5;
}

.silver {
    background-color: #c4c4c4;
}

.headLine {
    color: #fc573b;
    font-size: 22px;
}

.input-validation-error-message {
    display: block;
    font-size: 13px;
    color: #ff0000;
}

input::placeholder {
    color: rgb(182, 182, 182);
}

textarea::placeholder {
    color: rgb(182, 182, 182);
}
