.employee-list-table {
    .table {
        width: 100%;
        background-color: #fff;
        border-collapse: collapse;
        .thead {
            .table-row {
                .table-head {
                    width: 100%;
                    padding: 14px;
                    background-color: #00c569;
                    color: #fff;
                    overflow-wrap: break-word;
                    text-align: center;
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                }
                .table-head-select {
                    width: 20%;
                    padding: 14px;
                    border-radius: 8px 0 0 8px;
                    background-color: #00c569;
                    color: #fff;
                    overflow-wrap: break-word;
                    text-align: center;
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
        .tbody {
            .table-row {
                background: #f9f9f9;
                border-radius: 8px;
                margin: 5px;
                height: 50px;
                .table-data {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    overflow-wrap: break-word;
                    text-align: center;
                    padding: 20px 12px;
                }
                display: flex;
                .table-data-select {
                    justify-content: center;
                    width: 20%;

                    overflow-wrap: break-word;
                    text-align: center;
                    padding: 20px 12px;
                }
                .blue {
                    cursor: pointer;
                    color: #53c6fd;
                }
                .red {
                    color: #ff485a;
                    cursor: pointer;
                }
                .active-status {
                    padding: 10px 20px;
                    border-radius: 30px;
                    color: #fff;
                }
                .sweet-red {
                    background-color: rgba(252, 87, 59, 1);
                }
                .green {
                    background-color: rgba(90, 194, 41, 1);
                }
                .edit-btn {
                    cursor: pointer;
                }
                .delete-btn {
                    cursor: pointer;
                }
            }
            .table-row-selected {
                background-color: #c7e1ca;
            }
        }
    }
    .table-pagination {
        display: flex;
        justify-content: flex-end;
        button {
            border: none;
            background-color: #fff;
            cursor: pointer;
        }
    }
}
